@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular-webfont.woff') format('woff');
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2');
    font-style:normal;

  }
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-bold-webfont.woff') format('woff');
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2');
    font-style:bold;
  }
@font-face {
    font-family: 'Roboto-Condenced';
    src: url('../fonts/roboto-boldcondensed-webfont.woff') format('woff');
    src: url('../fonts/roboto-boldcondensed-webfont.woff2') format('woff2');
    font-style:bold;
  }


  body {
	background: linear-gradient(45deg,red, black, #010101, #23003d, #010101,#e6ba73);
    background-size: 400% 400%;
    background-color: #010101;
    animation: gradient 20s ease infinite;
    color:white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.pic{
    border-radius: 50%;
    max-width: 6.5rem;
    padding: 2px;
    border: solid 2px #e6ba73;

}
.mainpic{
    border-radius: 50%;
    max-width: 15rem;
    padding: 3px;
    border: solid 3px #e6ba73;
}
.back{
    width:100%;
    z-index:2;
}

li{
    list-style: none;
}

#herotext{
    font: normal .8rem Roboto;
}
.parent {
display: grid;
grid-template-columns: repeat(3, 1fr) 1fr repeat(3, 1fr);
grid-template-rows: repeat(6, .75fr);
grid-column-gap: 3px;
grid-row-gap: 3px;
z-index: 2;
max-width: 100%;
}

@keyframes flash {
    from {filter: brightness(200%);}
    to {filter: brightness(100%);}
  }
@keyframes invert {
    from {filter: invert(0);}
    to {filter: invert(100%);}
  }
  @keyframes saturate {
    from {filter: saturate(100%);}
    60%{filter: saturate(50%);}
    61%{filter: saturate(500%);}
    to {filter: saturate(100%);}
  }
  @keyframes lightning {
    from { filter: brightness(1); } 
    60%{ filter: brightness(75%); }
    61%{ filter: brightness(205%); }
  72% { filter: brightness(75%); }
    73% { filter: brightness(500%); }
    92% { filter: brightness(50%); }
    93% { filter: brightness(400%);}
  94% { filter: brightness(50%); }
  96% { filter: brightness(1000%); } 
	to { filter: brightness(1); }
}
@keyframes bluelightning {
    from { filter: sepia(0%) hue-rotate(0deg) saturate(100%); } 
    /*60%{ filter: brightness(75%); }
    61%{ filter: brightness(205%); }
  72% { filter: brightness(75%); }
    73% { filter: brightness(500%); }*/
    92% { filter: sepia(100%) hue-rotate(190deg) saturate(100%); }
    93% { filter: sepia(100%) hue-rotate(190deg) saturate(1000%);}
  94% { filter: sepia(100%) hue-rotate(190deg) saturate(100%); }
  96% { filter: sepia(100%) hue-rotate(190deg) saturate(1000%); } 
	to { filter: sepia(0%) hue-rotate(0deg) saturate(100%); }
}
@keyframes flashblue{
    from {filter: sepia(0%) hue-rotate(0deg) saturate(100%);}
    50%{filter: sepia(100%) hue-rotate(190deg) saturate(500%);}
    to {filter: sepia(0%) hue-rotate(0deg) saturate(100%);}
}

#rand2:hover{
    animation: lightning 4s infinite;
}
  button{
      background-color: transparent;
      border:0;
      color:white;
      font: normal .65rem Roboto;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
#loial2:hover{

    transition:2s ease;
    transform:scale(1.4);
}
#moiraine2:hover{
    animation: invert 2s ease-in-out forwards;

}

#aviendha:hover{
    animation: saturate 3s infinite; 
}

#min2:hover{
    animation: flash 2s infinite;
}
#mat2{
    transition: transform 1s ease;
}

#mat2:hover {
    transform: translateX( -1px ) rotateY( 180deg );
    animation: flash 2s .9s;
}

#lan2:hover{
    transition: 1s;
    filter:opacity(10%);
    animation: flash 3s 3s forwards;

}

#perrin3:hover{
    transition:1s;
    filter:drop-shadow(0 0 30px yellow) brightness(200%);
}

#egwene2:hover{
    animation: flashblue 2s infinite;
}

#elayne2:hover{
    animation: bluelightning 4s infinite;
}

@keyframes anger{
    0%   {transform: rotate(-5deg);}
    20%  {transform: rotate(5deg);}
    40%  {transform: rotate(-5deg);}
    60%  {transform: rotate(1deg) scaleY(1.04);}
    80%  {transform: rotate(-2deg) scaleY(0.92);}
    100% {transform: rotate(1deg);}
  }
#nynaeve2:hover{
    transition: 5s;
    filter:saturate(1000%) drop-shadow(0 0 50px red);
    animation-name: anger;
    animation-duration:3ms;
    animation-delay:200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#faile2:hover{
    transition: 5s;
    filter:contrast(1000%) drop-shadow(0 0 50px green);
    animation-name: anger;
    animation-duration:100ms;
    animation-delay:200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.div1 { grid-area: 1 / 3 / 3 / 4; }
.div2 { grid-area: 2 / 2 / 4 / 3; }
.div3 { grid-area: 3 / 1 / 5 / 2; }
.div4 { grid-area: 4 / 1 / 6 / 2; }
.div5 { grid-area: 5 / 2 / 7 / 3; }
.div6 { grid-area: 6 / 3 / 7 / 4; }
.div7 { grid-area: 1 / 5 / 3 / 6; }
.div8 { grid-area: 2 / 6 / 4 / 7; }
.div9 { grid-area: 3 / 7 / 4 / 8; }
.div10 { grid-area: 4 / 7 / 6 / 8; }
.div11 { grid-area: 5 / 6 / 7 / 7; }
.div12 { grid-area: 6 / 5 / 7 / 6; }
.div13 { grid-area: 2 / 4 / 6 / 5;}
.div14 { 
    text-align: center;
 }
 .div15{
     grid-area: 1/4/2/5;
     text-align:center;
}

